@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@300;400&display=swap");
body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.search-container {
  display: flex;
  margin-bottom: 20px;
}

#searchInput {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#clearBtn {
  padding: 10px;
  border: none;
  background-color: #f44336;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.recipe-item {
  background: #f9f9f9;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #eee;
}

.recipe-title {
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-details {
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.recipe-details.show {
  max-height: 500px; /* Adjust as needed */
  padding-bottom: 15px;
}
